@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..600&display=swap');

:root {
    --cor-primaria: rgb(51, 51, 51);
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #E32636;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: "Montserrat", serif;
}

* {
    margin: 0;
    border: 0;
    }

.header{
    padding: 2% 0% 0% 15%;
}    

.header__menu{
    display: flex;
    gap: 80px;
} 

.header__menu__link{
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
} 

.body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.Destaque {
    color: #E32636;
    font-weight: normal;
}

.profilepic{
    width: 38%;   
    border-radius: 16px;
    border: 3px solid var(--cor-terciaria);
}

.Titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.Texto{
    font-size: 24px;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.tituloredes {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--fonte-primaria);
}

.botoes{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 32px;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}   

.button {
    width: 378px;
    align-items: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    gap: 16px;
    display: flex;
    padding: 21.5px 0px;
    font-weight: 600;
    justify-content: center;

    /* Additional extras outside the course */
    background-color: initial;
    background-image: linear-gradient(var(--cor-terciaria), #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    cursor: grab;
    height: 52px;
    line-height: 1;
    outline: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 100ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
  background-color: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
  border: 2px solid #6666663d;
}

.footer{
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    padding: 0.5%;
}